@model WebApplicationHomeBudget.Models.Transact

@{
    ViewBag.Title = "Dodaj - " + ViewBag.h2;
}



<h2>@ViewBag.H2</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dodaj</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Kwota</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                @*<input type="text" name="Amount" class="form-control" value="@ViewBag.amount" required />*@
                @*<input type="number" name="Amount" class="form-control"  pattern="[0-9]+([\.,][0-9]+)?" step="0.01"   title="To nie liczba">*@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Data</label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.date_Transaction, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.date_Transaction, "", new { @class = "text-danger" })*@
                <input type="date" name="date_Transaction" class="form-control" value="@ViewBag.date_Transaction" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Opis</label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.descript, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descript, "", new { @class = "text-danger" })*@
                <input type="text" name="descript" class="form-control" value="@ViewBag.descript" />
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-2">Kategoria</label>
            <div class="col-md-10">
                @Html.DropDownList("id_Client_subcategories", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_Client_subcategories, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-2">Portfel</label>
            <div class="col-md-10">
                @Html.DropDownList("id_Client_wallet", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_Client_wallet, "", new { @class = "text-danger" })
            </div>
        </div>






        @*<input type="hidden" name="incomeExpenses" value="@ViewBag.H2" />*@
        @Html.Hidden("incomeExpenses", (object)ViewBag.H2)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
                @*<input type="submit" value="Dodaj dochód" class="btn btn-default" onclick="location.href= '@Url.Action("Create","Transacts",new { IfIncome="tak jest"} ) ' " />*@
            </div>
        </div>
    </div>
}


@ViewBag.date_Transaction
@ViewBag.info
