@model WebApplicationHomeBudget.Models.Transact

@{
    ViewBag.Title = "Usuń";
}
    
<h2>Usuń</h2>

<h3>Napewno chcesz usunąć?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Kwota</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            <label>data</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_Transaction)
        </dd>

        <dt>
            <label>Opis</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descript)
        </dd>

       

        <dt>
            <label>Imie</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.firstname)
        </dd>

        <dt>
            <label>Nazwa kategorii</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_subcategories.subcategories.Name_subcategory)
        </dd>

        <dt>
            <label>Portfel</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_wallet.wallet.Name_wallet)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Usuń" class="btn btn-group-vertical" />
   
    <input type="button" value="Edytuj" class="btn btn-group-vertical" onclick="location.href= '@Url.Action("Edit","Transacts",new { id = Model.id_trans } ) ' " />

</div>
    }
</div>
